<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改手机号</title>
</head>
<body>
    <h1>修改手机号码</h1>
    <form>
        <div>
            <input type="text" name="oldPhone" placeholder="请输入旧的手机号"> <input type="button" name="getCheckCode" value="获取验证码">
        </div>
        <div>
            <input type="text" name="checkCode" placeholder="请输入验证码">
        </div>
        <div>
            <input type="text" name="newPhone" placeholder="请输入新的手机号">
        </div>
        <div>
            <input type="submit" value="保存">
        </div>
    </form>
</body>
</html>