<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>doctorList</title>
</head>
<body>
    <script type="text/javascript">
        function getDoctorList() {
            $.ajax({
                type:"PSOT",
                timeout:180000,
                url:"",
                dataType:"JSON",
                success:function (result) {
                    console.log(result);
                    var data=result.
                }
            });
        }
    </script>
</body>
</html>