<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>searchByDept</title>
</head>
<body>
    <h1>找医生</h1>
    <form>
        <div>
            <input type="search" name="keywords" placeholder="  请输入关键字"
                   style="height: 30px;width: 400px;border-radius: 25px;outline: none;
                   background-repeat: no-repeat;background-size: 21px 21px;background-position: 95%">
            <input type="submit" value="搜索">
        </div>
    </form>

    <h1>按科室找医生</h1>
    <table cellspacing="30" bgcolor="#f4a460">
        <tr>
            <td><a>妇科</a></td>
            <td><a>儿科</a></td>
            <td><a>皮肤病科</a></td>
            <td><a>内科</a></td>
        </tr>
        <tr>
            <td><a>男科</a></td>
            <td><a>产科</a></td>
            <td><a>外科</a></td>
            <td><a>中医科</a></td>
        </tr>
        <tr>
            <td><a>骨伤科</a></td>
            <td><a>精神心理科</a></td>
            <td><a>口腔颌面科</a></td>
            <td><a>眼科</a></td>
        </tr>
        <tr>
            <td><a>耳鼻咽喉科</a></td>
            <td><a>肿瘤及防治科</a></td>
            <td><a>整形美容科</a></td>
            <td><a>营养科</a></td>
        </tr>
    </table>
</body>
</html>