<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style type="text/css">
        .form-group{
            width: 600px;
            margin: 40px auto;
        }
        .btn-info{
            margin-top: 30px;
        }
        .btn-success{
            width: 300px;
            margin-top: 50px;
            margin-left: 40%;
        }
    </style>
</head>
<script type="text/javascript">
    $(function () {
        $("#getCode").click(function () {
            alert("发送成功");
            var phoneNumber=$("#phone").val();
            var templateCode="SMS_172525106";
            var url="/sms?phone="+phoneNumber+"&TemplateCode="+templateCode;

            $.get(url);
        });
    });
</script>
<body>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="">短 信 登 录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">密 码 登 录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">注 册</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>
<br>
<form th:action="@{/register}" method="post">
    <div class="form-group">
        <label for="username">用 户 名</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
    </div>
    <div class="form-group">
        <label for="password">密 码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
    </div>
    <div class="form-group">
        <label for="name">名 字</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="请输入名字">
    </div>
    <div class="form-group">
        <label for="phone">手 机 号 码</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号码">
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div style="width: 200px">
                <label for="code">验 证 码</label>
                <input type="text" class="form-control" id="code" name="code" placeholder="请输入验证码">
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="getCode">获取验证码</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="form-group">
        <input type="radio" name="role" value="ROLE_USER"> 用户
        <input type="radio" name="role" value="ROLE_DOCTOR"> 医生
    </div>

    <button type="submit" class="btn btn-success">注 册</button>
</form>


</body>
</html>